// BASE
@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/global";

// LAYOUT
@import "layout/header";
@import "layout/top-header";
@import "layout/products";
@import "layout/hero";
@import "layout/cards";
@import "layout/footer";

// COMPONENTS
@import "components/buttons";
@import "components/carousels";



body {
  font-family: $font-family-base;
  font-size: 16px;
  color: $text-color;
}

html {
  scroll-behavior: smooth;
}
h1, h2, h3 {
  margin-bottom: $space-md;
}


.home-page{
  min-height: 100vh;
  background: $background-color;  

  
.left-content-container{
    margin: 100px 290px;
}

.left-content-container h1{
   color: $header-color;
   text-align: justify;  
   font-family: $font-family-base;
   font-size: 4.5rem;
   letter-spacing: -5px;

}

.left-content-container p{
  color: $header-color;
  font-weight:  100;
  font-size: 1.1rem;
 
  
}

.left-button{
  margin-top: 50px;
}

.left-button button{
  padding: 1.3rem 7rem;
  background-color: $secondary-color;
  border-radius: 36px;
  font-size: 1.1rem;
  font-weight: 200;
  cursor: pointer;

  
    transition: all 0.3s ease;
 &:hover {
    background: darken($secondary-color, 10%);
    transform: scale(1.1);
    
  }
}

.right-content-container{
   float: right;

   
}

.right-content-container img{
  width: 75%;
  height: auto;
  margin-right: -350px;
  transform: translateY(-120%);
}


.satisfied-rating{
  margin-top: 200px;

}

.satisfied-rating p {
   margin-top: 15px;
}

.customer-icon img{
  width: 50px;
}
.customer-icon p{
  display: inline-block;
  margin-left: 10px;
}
}



.more-info{
  height: 100%;
  background: $background-color-second;
  background-position: center;
  background-repeat: no-repeat;
  


 .top-tagline {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  text-align: center;  
  width: 100%;             
  margin: 0 auto;          
  padding: 2rem 0; 
  transform: translateY(-530%);        
}

.top-tagline .button {
  padding: 20px 280px;
  background-color: $secondary-color;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: $primary-color;
  border-radius: 36px;
  cursor: pointer;

   
}

.left-tagline{
  float: left;
  margin-top: -39%;
  margin-left: 300px;  
  
}

.left-tagline h1{
  font-weight: 800;
  font-family: $font-family-base;
  font-size: 5rem;
  letter-spacing: -1px;
}

.left-tagline p{
  font-weight: lighter;
  width: 550px;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
 
}

.divider {
  border: none;              
  height: 1px;               
  background: $text-color; 
  opacity: 0.2;
  width: 50%;               
  margin: 2rem 0 2rem  0;         
}

 .features-list {
    list-style: none;
    padding: 0;

    li {
      position: relative;
      padding-left: 1.5rem;
      margin-bottom: 0.8rem;

      &::before {
        position: absolute;
        left: 0;
        color: $secondary-color;
      }
    }

    p{
      font-size: 1.2rem;
    }
}

.right-tagline-img{
  display: flex;
  float: right;
  margin-left: 700px;
  margin-top: -710px;
 
}

.right-tagline-img img{
  width: 550px;
}



}

.bottom-container {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  background: $header-color;
  width: 100%;
  height: 200px;
  max-width: 1400px; 
  margin: 8rem auto 0;
  border-radius: 36px;
  padding: 2rem;
}


.bottom-container div {
  flex: 1;
  text-align: center;
}

.bottom-container img {
  width: 100px;
  height: 100px;
  margin-bottom: 0.7rem;
}

.bottom-container p {
  font-size: 0.9rem;
  font-weight: 200;
  width: 150px;
  margin: 1rem;
  text-align: justify;
  display: inline-block;
}




/*  MOBILE responsiveness */
@media (max-width: 768px) {
  .bottom-container {
    flex-direction: column;  
    max-width: 100%;
    gap: 2rem;                
    text-align: center;
  }

  .bottom-container div {
    width: 100%;
  }
}



.how-it-works {
  text-align: center;
  padding: 5rem 0;
  background: #f2f7fa; 

  .subtitle {
    font-size: 1rem;
    color: #333;
    font-weight: 550;
     font-family: $font-family-base;
    margin-bottom: 1rem;
  }

  .timer-icon {
    width: 60px;
    margin: 1rem 0 2rem;
  }

  .main-title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  .steps {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 3rem;
    }

    .step-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 300px;

      .step-image {
        position: relative;

        span.step-number {
          position: absolute;
          top: 10px;
          left: 10px;
          background: #fff;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 1rem;
        }

        img {
          width: 100%;
          border-radius: 20px;
        }
      }

      .product-row {
        margin-top: 1.5rem;
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        text-align: left;

        img {
          width: 50px;
        }

        p {
          font-size: 0.9rem;
          color: #333;
          line-height: 1.3;
        }
      }
    }
  }
}

// results section
.results-section {
  text-align: center;
  padding: 4rem 2rem;

  .results-title {
    font-family: 'Archivo Black';
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .results-desc,
  .results-refund {
    max-width: 700px;
    margin: 0 auto 1.5rem;
    font-size: 0.95rem;
    color: #444;
    line-height: 1.6;
  }

}


  .divider-wide{
  border: none;   
  text-align: center;
  align-items: center; 
  justify-content: center;         
  height: 1px;   
  padding-left: 750px;
  background: $text-color; 
  opacity: 0.2;
  width: auto;               
  margin: 2rem 0 2rem  0;  
  }


 .wide-banner {
  width: 100vw;
  height: 100vh; 
  background-size: cover;
  background: url('/ecommerce-web/assets/images/wide-banner.jpg') no-repeat center center/cover;

 
 
}
.benefits-list ul {
  display: flex;        
  gap: 20px;              
  list-style: none;       
  padding: 0;
  margin: 20px  100px;
  width: 1700px;
  text-align: center;
  align-items: center;
  
   

}

.benefits-list li {
  display: flex;
  align-items: center;    
  gap: 8px;
  font-size: 1.5em;
  font-weight: 780;
  color: $text-color;          
}

.benefits-list img {
  width: 20px;
}