.main-header {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: $space-md 2rem;
  background-color: $header-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  .logo {
    display: flex;
    align-items: center;
    margin-left: -83rem;

    img {
      width: 50px;
      height: auto;
    }
  }

  .hamburger-nav {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;

    img {
      width: 40px;
      height: auto;
    }
  }

  .top-button {
    margin-right: -82rem;
    button {
      padding: 0.8rem 2rem;
      font-size: 1rem;
      letter-spacing: 1.5px;
      background: $primary-color;
      color: #fff;
      border-radius: 36px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: darken($primary-color, 10%);
      }
    }
  }

  .cart-icon {
    position: relative;
    margin-right: 5rem;

    img {
      width: 40px;
      cursor: pointer;
    }

    .cart-badge {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: $text-color;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
    }
  }
}

/* Responsive tweaks */
@media (max-width: 768px) {
  .main-header {
    flex-direction: row;
    align-items: flex-start;

    .logo {
      margin-bottom: 0.5rem;
      margin-right: 10rem;
    }

    .top-button {
      margin-top: 0.5rem;
      button {
        padding: 0.6rem 1.5rem;
        font-size: 0.95rem;
      }
    }

   
    .cart-icon img {
      width: 35px;
      
    }
  }
}

@media (max-width: 480px) {
  .main-header {
    padding: $space-md 1rem;

    .logo img {
      width: 50px;
    }

    .hamburger-nav img {
      width: 30px;
    }

    .top-button button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }

    .cart-icon img {
      width: 30px;
    }
  }
}
