
    
    
    
    .left-benefits-tagline{
      float: left;
      text-align: justify;
      margin-left: 180px;
      margin-top: 50px;

      h1{
      font-size: 4rem;
      font-weight: 800;
      margin-bottom: 2px;
    }

     p.subtitle {
      color: $text-color;
      margin-bottom: 40px;
      font-weight: 700;
    }


    }
    
 
   

    .benefits {
      display: flex;
      width: 100vw;
      height: 100%;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      margin-bottom: 80px;
      align-items: center;

    }

    .benefit-card {
      background-color: transparent;
      border-radius: 12px;
      flex: 1 1 350px;
      max-width: 550px;
      padding: 20px;
      text-align: center;
    
    }

    .benefit-card img {
      width: 80%;
      height: auto;
      object-fit: cover;
      border-radius: 12px;
      margin-bottom: 15px;
    }

    .benefit-card h3 {
      font-size: 1.1rem;
      margin-bottom: 10px;
    }

    .benefit-card p {
      font-size: 0.9rem;
      color: #666;
    }

   
    .product-set {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      height: 80vh;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      padding: 150px;
      box-shadow: 0 6px 15px rgba(0,0,0,0.05);
    }

    .product-info {
      flex: 1 1 300px;
      margin-left: 90px;
      max-width: 500px;
    }

    .product-info span {
      display: inline-block;
      background-color: #ffc107;
      color: #000;
      font-weight: bold;
      font-size: 0.8rem;
      padding: 5px 10px;
      border-radius: 12px;
      margin-bottom: 15px;
    }

    .product-info h2 {
      margin-bottom: 20px;
      font-size: 3.5rem;
      font-weight: 800;
    }

    .product-info p {
      margin-bottom: 20px;
      text-align: justify;
      color: $text-color;
      font-weight: 300;
    }

    .product-info ul {
      list-style: none;
      text-align: justify;
      margin-bottom: 30px;
    }

    .product-info ul li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 25px;
    }

    .product-info ul li::before {
      position: absolute;
      left: 0;
      color: #28a745;
    }

    .product-info button {
      background-color: #1a1a1a;
      color: #fff;
      border: none;
      padding: 1.2rem 5rem;
      border-radius: 36px;
      font-size: 1rem;
      cursor: pointer;
      transition: background 0.3s;
    }

    .product-info button:hover {
      background-color: #333;
    }

    .product-images {
      flex: 1 1 250px;
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .product-images img {
      width: 590px;
      height: auto;
      object-fit: contain;
    }





    @media(max-width: 412px){
    

 .ingredients-section {
    padding: 2rem 1rem;
    width: 100%;
  }

  /* HEADER */
  .ingredients-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .ingredients-header h2 {
    font-size: 1.8rem !important;
    width: 320px !important;
    margin-left: -1rem !important;
    line-height: 1.5;
  }

  .ingredient-btn {
    align-self: center;
    padding: 0.7rem 1.2rem;
    font-size: 0.85rem;
    max-width: 100%;
  }

  /* GRID */
  .ingredients-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -2rem !important;
    gap: 1rem;
  }

  /* CARD */
  .ingredient-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
  }

  .ingredient-card img {
    width: 100% !important;
    max-width: 350px !important;
  }

  .ingredient-card h3 {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }

  .ingredient-card p {
    font-size: 0.75rem;
    line-height: 1.3;
  }

  .three-formulas{
    height: 500vh !important;
    padding: 2rem 1rem !important;
    width: 420px !important;
    margin-left: -3rem !important;
    align-items: center !important;
    
  }

  .formula-grid{
    width: 100% !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 3rem !important;
 

  .face-wash-item {
    margin: 10px 0 0 50px !important;

    img {
      width: 180px !important;
      margin-left: 20px !important;
      transform: translateY(20%) !important;
    }

    .text-block {
      max-width: 250px !important;
      margin-left: -20px !important;
      margin-top: 20px !important;

      h3 {
        font-size: 1.4rem !important;
      }

      p {
        font-size: 0.85rem !important;
      }


    }


  }

  .moisturizer-item{
    flex-direction: column !important;
    margin: 50px 0 0 50px !important;
    gap: 2rem !important;

    img {
      width: 130px !important;
      margin-right: 30px !important;
      transform: translateY(150%) !important;
      
    }

    .text-block {
      max-width: 250px !important;
      margin-left: -580px !important;
      margin-top: -170px !important;

      h3 {
        font-size: 1.4rem !important;
      }

      p {
        font-size: 0.85rem !important;
      }
    }
  }


  .cream-item{
    margin: 200px 0 0 50px !important;

    img {
      width: 180px !important;
      margin-left: 20px !important;
      transform: translateY(10%) !important;
    }

    .text-block {
      max-width: 250px !important;
      margin-left: -20px !important;
      margin-top: 20px !important;

      h3 {
        font-size: 1.4rem !important;
      }

      p {
        font-size: 0.85rem !important;
      }
    }
  }

  
 
  
   }

   .customer-feed-container .title {
  font-size: 1.4rem !important;
  margin-bottom: 2rem !important;
}

/* CARD WRAPPER */
.container-box {
  display: flex;
  flex-direction: column !important;
  align-items: center  !important;
  gap: 1.5rem !important;
}

/* CARD */
.box {
  padding: 1.5rem !important;
  border-radius: 10px !important;
  max-width: 350px !important;
  height: 350px !important;
  
}

/* STAR ICON */
.box > img {
  width: 90px !important;
  margin: 0 auto 1rem !important;
}

/* QUOTE */
.box p {
  font-size: 0.9rem !important;
  line-height: 1.5 !important;
  width: 250px !important;
  transform: translateX(-15%) !important;
  margin-bottom: 1.2rem !important;
}

/* CUSTOMER INFO */
.customer-icon-feed {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  gap: 0.3rem !important;
}

.customer-icon-feed img {
  width: 40px !important;
  border-radius: 50% !important;
  margin-right: 18rem !important;
  margin-top: 6rem !important;
}

.customer-icon-feed p {
  font-size: 0.85rem !important;
  font-weight: 600 !important;
  width: 300px !important;
  margin-left: 18rem !important;
}

.customer-icon-feed span {
  font-size: 0.75rem !important;
  opacity: 0.8 !important;
  margin: -1rem 0 0 10rem !important;


}

.set {
  display: flex;
  flex-direction: column !important;
  gap: 2rem;
  padding: 5rem 1rem !important;
  width: 300px !important;
  height: 100vh !important;
  margin-left: -13rem !important;
  text-align: center;
}

/* LEFT CONTENT */
.set .left {
  width: 100%;
}

.set .mini {
  font-size: 0.9rem !important;
  letter-spacing: 0.05em;
  width: 350px !important;
  padding: 0.5rem 2rem !important;
  background: $secondary-color !important;
  border-radius: 36px !important;
  margin-left: -4rem  !important;
  text-transform: uppercase;
}

.set h3 {
  font-size: 2.5rem !important;
  margin-left: -2rem !important;
  line-height: 1.2;
  margin: 0.5rem 0;
}

.set .desc {
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 1rem 0;
}

/* LIST */
.set ul {
  padding: 0;
  margin: 1.5rem 0;
  list-style: none;
}

.set li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.85rem;
  line-height: 1.4;
  text-align: left;
}

.set li img {
  width: 16px !important;
  flex-shrink: 0 !important;
  
}

/* BUTTON */
.add-big {
  width: 100%;
  max-width: 320px;
  margin: 1.5rem auto 0;
  padding: 0.9rem;
  margin-left: -2rem !important;
  font-size: 0.95rem;
}

/* RIGHT IMAGE */
.set .right {
  display: flex;
  justify-content: center;
  width: 100%;
}

.set-img {
  width: 100%;
  max-width: 300px;
  margin-left: 28rem !important;
  margin-top: 2rem !important;
}

.fans {
  padding: 2rem 1rem;
  text-align: center;
}

.fans h2 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

/* GRID */
.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* IMAGE */
.img-box {
  position: relative;
  width: 100%;
}

.img-box img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


.play,
.mute-btn {
  position: absolute;
  background: rgba(0,0,0,0.6);
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
}

.play {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mute-btn {
  bottom: 10px;
  right: 10px;
}

/* INFO */
.info {
  padding: 1rem;
}

.stars {
  width: 80px;
  margin-bottom: 0.5rem;
}

.name {
  font-size: 1rem;
  font-weight: 600;
}

.price {
  font-size: 0.9rem;
  margin: 0.3rem 0 0.8rem;
}

/* ADD BUTTON */
.btn-add {
  width: 100%;
  padding: 0.7rem;
  border-radius: 25px;
  background: black;
  color: white;
  font-size: 0.9rem;
  border: none;
}


     }

    @media(max-width: 768px){
      .product-set {
        flex-direction: column;
      }
    }


.ingredients-section {
  height: 90vh;
  padding: 60px 180px;
  background: #eef6f8;
  font-family: "Inter", sans-serif;

  .ingredients-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;

    h2 {
      font-size: 4rem;
      font-weight: 800;
      line-height: 1.2;
      text-transform: uppercase;
      color: #1a1a1a;
    }

    .ingredient-btn {
      padding: 1.2rem 4rem;
      background: #ffcc00;
      color: #000;
      font-size: 1rem;
      font-weight: 400;
      border-radius: 36px;
      border: none;
      $font-family-base: 'Archivo', sans-serif;
      width: fit-content;
      cursor: pointer;

      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        background: #ffdb4d;
      }
    }
  }

  .ingredients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    .ingredient-card {
      display: flex;
      align-items: center;
      gap: 15px;

      img {
        width: 80px;
        height: 80px;
        border-radius: 12px;
        object-fit: cover;
      }

      .text {
        h3 {
          font-size: 1rem;
          font-weight: 700;
          margin-bottom: 4px;
        }

        p {
          font-size: 0.75rem;
          letter-spacing: 1px;
          color: #666;
          text-transform: uppercase;
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 900px) {
  .ingredients-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ingredients-grid {
    grid-template-columns: 1fr;
  }
}



.three-formulas {
  background: #171b27;
  color: #fff;
  padding: 5rem 0;
  text-align: center;
  font-family: "Inter", sans-serif;

  .tagline button {
    background: #ffcc00;
    color: #000;
    padding: 0.4rem 1.4rem;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
  }

  .section-title {
    margin-top: 2rem;
    font-size: 3.3rem;
    font-weight: 800;
    letter-spacing: 1px;
  }

  .subtitle {
    margin-top: 0.6rem;
    font-size: 0.9rem;
    opacity: 0.8;
    margin-bottom: 4rem;
  }

  .formula-grid {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }

  .face-wash-item{
    display: flex;
    margin: 70px 50px 0 520px;

    img {
      width: 240px;
      height: auto;
      margin-left: 90px;
      filter: drop-shadow(0 15px 15px rgba(0,0,0,0.4));
    }

    .text-block {
      max-width: 300px;
      text-align: left;
      margin-top: 50px;
      margin-left: -50px;

      h3 {
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 1rem;
        line-height: 1.2;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.6;
        opacity: 0.85;
      }
    }

  
     }

     .moisturizer-item {
        display: flex;
        margin-right: 420px;

         .text-block {
        max-width: 300px;
        margin-right: -580px;
        margin-top: 50px;
      }
      img {
      width: 160px;
      height: auto;
      margin-right: 440px;
      filter: drop-shadow(0 15px 15px rgba(0,0,0,0.4));
    }

     h3 {
        font-size: 1.8rem;
        font-weight: 800;
        text-align: justify;
        margin-bottom: 1rem;
        line-height: 1.2;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.5;
        text-align: justify;
        opacity: 0.85;
      }

        &.reverse {
      flex-direction: row-reverse;

     
  }

     }


     .cream-item{
      display: flex;
       margin: 70px 50px 0 520px;

        img {
      width: 250px;
      height: auto;
      margin-left: 50px;
      filter: drop-shadow(0 15px 15px rgba(0,0,0,0.4));
    }

    .text-block {
      max-width: 300px;
      text-align: left;
      margin-top: 50px;
      margin-left: -50px;

      h3 {
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 1rem;
        line-height: 1.2;
      }

      p {
        font-size: 0.9rem;
        line-height: 1.6;
        opacity: 0.85;
      }
    }
     }

     .customer-feed-container{

      text-align: center;
      align-items: center;
      padding: 20px;
      margin: 100px;

     .title{
      color: $secondary-color;
      font-weight: bold;
      margin-left: 40rem;
     }

     .container-box{
      display: flex;
      flex-direction: row;

     }
     .box{
      width: 480px;
      height: 300px;
      margin: 2rem;
      border-radius: 36px;
      background: $background-color-second;
     }

     .box img{
      float: left;
      margin-left: 2rem;
      margin-top: 2rem;
      width: 20%;
     }

     p{
      font-size: 1.1rem;
      text-align: justify;
      width: 380px;
      text-align: center;
      margin: 4rem;
      padding-top: 1rem;
      color: $primary-color;
      letter-spacing: 1px;
     }

     .customer-icon-feed{
      margin-top: -5rem;
      margin-left: 2rem;

     }

     .customer-icon-feed img{
      width: 50px;

     
     }

       .customer-icon-feed p{
        display: flex;
        float: left;
        margin-top: -60px;
        margin-left: 100px;  
      
}
         span{
          text-align: justify;
          display: inline-block;
          color: $text-color;
          width: 330px;
          font-size: 0.9rem;
          opacity: 0.9;
          margin-top: 3.7rem;
        }
       
    
     }

     
  


     
}

/* Responsive*/
@media (max-width: 900px) {
  .three-formulas .formula-item {
    flex-direction: column !important;
    text-align: center;

    .text-block {
      text-align: center !important;
      margin-bottom: 2rem;
    }
  }
}





/* FANS */

.fans {
  padding: 3rem 1.2rem;
  text-align: center;

  /* MUTE BUTTON */
  .mute-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0,0,0,0.4);
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease;
    backdrop-filter: blur(6px);

    img {
      width: 18px;
      height: 18px;
      filter: brightness(100%);
    }

    &:hover {
      background: rgba(0,0,0,0.6);
    }
  }

  h2 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 4rem;
    margin-bottom: 1.8rem;
    color: $primary-color;
  }


}




.set {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.4rem;
  gap: 2rem;
 


  @media (min-width: 900px) {
    flex-direction: row;
    align-items: center;
    padding: 5rem 4rem;
  }

  .left {
    flex: 1;
    margin-left: 15rem;

    .mini {
      color: $text-color;
      font-size: 1rem;
      margin-bottom: .6rem;
    }

    h3 {
      font-family: $font-family-base;
      font-size: 3.8rem;
      font-weight: 800;
      margin-bottom: 1rem;
      color: $primary-color;
    }

    .desc {
      color: $text-color;
      margin-bottom: 1.2rem;
      line-height: 1.6;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-bottom: 1.5rem;

      li {
        display: flex;
        align-items: center;
        gap: .6rem;
        margin-bottom: .7rem;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .add-big {
      background: $primary-color;
      color: $header-color;
      padding: 1rem 2rem;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      font-size: 1rem;
      margin-top: 4rem;
      font-weight: 700;
      width: 100%;

      @media (min-width: 900px) {
        width: auto;
      }
    }
  }

  .right {
    flex: 1;
    position: relative;

    .set-img {
      width: 60%;

      &.big { width: 70%; }
      &.mid {
        width: 50%;
        position: absolute;
        right: -10%;
        top: 30%;
      }
      &.small {
        width: 35%;
        position: absolute;
        left: 10%;
        bottom: 10%;
      }
    }
  }
}
