body {
  font-family: $font-family-base;
  font-size: 16px;
  line-height: 1.5;
    overflow-x: hidden;
  color: $text-color;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-weight: bold;
  margin-bottom: $space-md;
}

img {
  max-width: 100%;
  height: auto;
}
