// FLEX CENTER MIXIN
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


// RESPONSIVE FONT
@mixin responsive-font($size-sm, $size-md, $size-lg) {
  font-size: $size-sm;

  @media (min-width: $breakpoint-sm) {
    font-size: $size-md;
  }
  @media (min-width: $breakpoint-md) {
    font-size: $size-lg;
  }
}

